html {
  font-family: sans-serif;
  background-color:#E5E5E1;
}
.header {

}

.title-logo{
font-size: 2em;
margin-top: 2%;
margin-left: 2%;
}

.card{
  border-radius: 3px;
  background: #FFFFFF;
  margin-top: 1%;
  margin-bottom: 3%;
}

.title-card{
  background: #673AB7;

}

.title-card span{
  color: #FFFFFF;
  font-size: 2em;
  margin-top: 5%;
  margin-left: 3%;
}

.block {
  display: block-inline;
  float: left;
  margin-bottom: 1%;
  margin-left: 1%;
}

.mainCalculator {
  border-radius: 3px;
  background: #FFFFFF;
  width: 50%;
  float: left;
  margin-left: 4%;
}

.mainresults {
  padding: 1%;
  margin-left:2%;
}

.results {
  border-radius: 3px;
  width: 50%;
  padding: 2%;
  margin-top: 3%;
  display: inline-block;
  background-color: #CCCCCC;
}

.resultCalculator {
  margin-top: 5%;
  padding: 1%;
}
.textcalc {
  font-size: 2em;
}

.inputCalculator {

margin-bottom: 4%;
}
.inputcalc {
  border-radius: 3px;
  margin-top: 3%;
  margin-left: 3%;
  padding: 1%;
  font-size:2em;
  width: 80%;
  border: 1px solid #c8c8c8;
  box-shadow=inset 2px 2px 2px #f2f2f2;
  outline: 0;
}

.labelPrice {
  font-size: 2em;
}
.price {
  font-size: 2em;
  font-style: arial;
}
.priceRef {
  display: block;
}
.footer {
  clear: both;
  padding: 0 15px;
}

.exchanges{
  width: 40%;
}
