html {
  font-family: sans-serif;
  background-color:#E5E5E1;
}
.header {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.wrapper{
  margin: 2%;
  width: 80%;
}

.title-logo{
  font-size: 2em;
  margin-top: 2%;
  margin-left: 2%;
}

.footer {
  clear: both;
  padding: 0 15px;
}
