<div class="card card-item">
  <div class="title-card">

      <span><a href="#/">Calculadora Bitcoin</a></span>
      <!-- XXX:  <span><a href="#satoshi">Calculadora Satoshis</a></span>
      <span><a href="#bit">Calculadora Bits</a></span>
      <span><a href="#income">Lucro Trade</a></span>-->

    </div>

  <div class="mainresults">
      <span class="labelPrice">BRL : </span>
      <span class="labelPrice"> {{ brlref * bitcoin / 1000000 | number : 5}} </span>
      <span class="labelPrice">Bit :</span>
      <span class="labelPrice"> {{ brl / brlref * 100 | number : 8 }} </span>
  </div>

  <div class="">
    <input class="inputcalc" type="text" name="brlrefname" value="" ng-model="brlref" ng-required="number" placeholder="Digite o preço do Bitcoin">
    <input class="inputcalc" type="text" name="brlname" value="" ng-model="brl" ng-required="number" placeholder="Valor em Reais">
    <input class="inputcalc" type="text" name="btcname" value="" ng-model="bitcoin" required="number" placeholder="Valor em Bits" maxlength="8">
  </div>
</div>
